<html>
    <head>
        <title>
            １５ゲームプログラムVer2.00
        </title>
    </head>
    <body>
        <table border=0>
            <tr>
                <td>
                    <table border=1>
                        <%
                        k = 0
                        g.set_move()
                        g.waku.times do
                            %>
                            <TR>
                                <%
                                g.waku.times do
                                    %>
                                    <TD>
                                        <%
                                        k++
                                        out = "<img src=./" + g.gamen[$k] + ".gif>"
                                        g.kouho.each  {|value|
                                            if (k == value) then
                                                out = "<a href=./?link="  + k + "><img src=./gif/" + g.gamen[$k] + ".gif></a>"
                                            end
                                        }
					%>
                                        <%=out%>
                                    </TD>
                                    <%
                                end
                                %>
                            </TR>
                            <%
                        end
                        %>
                    </TABLE>
                </TD>
                <TD>　</TD>
                <TD>
                <TABLE BORDER="1">
                        <%
                        k = 0
                        g.waku.times do
                            %>
                            <TR>
                                <%
                                g.waku.times do
                                    k++
                                    %>
                                    <TD>
                                        <%
                                        out = "<img src=./gif/" + k . ".gif>"
                                        %>
					<%=out%>
                                     	<%
				end
					%>
                                    </TD>
                                    <%
                                end
                                %>
                            </TR>
                            <%
                        end
                        %>
                    </TABLE>
                </TD>
            </TR>
        </TABLE>
        <FORM method="POST" action="./">
            <%
            if (g.status != 3) then
                %>
                <input type="radio" name="mode" value="1">やさしい
                <input type="radio" name="mode" value="2" checked>普通
                <input type="radio" name="mode" value="3">難しい
                <br />
                <input type="hidden" name="button" value="START">
                <INPUT type="submit" name="submit" value="スタート">
                <%
            else
                %>
                <input type="hidden" name="button" value="GIVEUP">
                <INPUT type="submit" name="submit" value="ギブアップ">
                <%
            end
            session[:game] = g
            %>
        </FORM>
    </body>
</html>